<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <a style="font-size: 20px; margin-right: 10px;" href="https://linkedin.com/in/clintjb" class="fa fa-linkedin social-links-linkedin" target="_blank"></a>
  <a style="font-size: 20px; margin-right: 10px;" href="https://github.com/clintjb" class="fa fa-github social-links-github" target="_blank"></a>
  <a style="font-size: 20px; margin-right: 10px;" href="http://lastfm.com/user/clintjb" class="fa fa-lastfm social-links-lastfm" target="_blank"></a>
  <a style="font-size: 20px; margin-right: 10px;" href="http://www.clintbird.com/contact.html" class="fa fa-envelope social-links-envelope" target="_blank"></a>
  <a style="font-size: 20px; margin-right: 10px;" href="http://www.clintbird.com/feed.xml" class="fa fa-rss social-links-rss" target="_blank"></a>
